@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* Tailwind utilities */
@tailwind utilities;

@layer utilities {
    .animate-spin-custom{
        animation: spin 10s linear infinite;
    }

    .animate-borderline {
        background: #2a65e6;
        position: relative;
        height: 3px;
        width: 0%;
        left: 0px;
        bottom: 5px;
        animation-duration: 300ms;
    }

    .animate-borderline:hover::after {
        width: 100%;
    }

    .footer-background {
        background-color: #04335d;
    }
}

@layer components {
    .hero-text {
        @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
        img {
            @apply size-8 md:size-10 object-contain;
        }
    }

    /* Hero text slider starts */
    .slide {
        display: inline-block;
        flex-direction: column;
        transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
    }

    @keyframes wordSlider {
        0% { transform: translateY(0.5%); }
        12.5% { transform: translateY(-12.5%); }
        25% { transform: translateY(-25%); }
        37.5% { transform: translateY(-37.5%); }
        50% { transform: translateY(-50%); }
        62.5% { transform: translateY(-62.5%); }
        75% { transform: translateY(-75%); }
        87.5% { transform: translateY(-87.5%); }
    }
    /* Hero Text slider ends */  

    /* Rotate Animation Y Axis */
    .animation-rotate-y:hover {
        cursor: pointer;
        animation: rotateY 5s infinite linear;
    }
    
    @keyframes rotateY {
        0% { transform: scale(1.2) rotateY(0deg); }
        25% { transform: scale(1.2) rotateY(90deg); }
        50% { transform: scale(1.2) rotateY(180deg); }
        75% { transform: scale(1.2) rotateY(270deg); }
        100% { transform: scale(1.2) rotateY(360deg); }
    }  
    /* Rotate Animation Y Axis */

    /* Glass Backgorund */
    .glass-background { 
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    /* Rotate Animation Y Axis */

    /* Animated Border Lights */
    .animation-border-lights {
        position: relative;
        transform: translate(-0.3%, -99.2%);
        border: 2px solid red;
        border-radius: 16px;
    }
    /* Animated Border Lights */
}

.button {
    cursor: pointer;
}

.button:hover {
    transform: scale(110%, 110%);  
}

:root {
    --font-tomorrow: tomorrow;
}

/*Flex Column To Position Stuff Around Easier*/
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Custom Global Styles To Remove Margin And Padding*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

/*All Text Will Follow Same Format*/
* {
    font-family: tomorrow;
}

p {
    cursor: default;
    user-select: none;
}

/* Smooth All Transitions Globally */
a:hover {  
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

.button:hover {
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

img {
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

.interactive-animation {
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    --tw-duration: 300ms;
    transition-duration: 300ms;
}

.interactive-animation:hover {
    transform: scale(105%, 105%);
}


/*** Glowing Border Class ***/
.glowing-border {
  position: relative;
  border: solid 2px transparent;
  border-radius: 1em;
}

/* Register Custom Property So It Can Animate The Glowing Border */
@property --alpha {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.glowing-border::before,
.glowing-border::after {
  --full: conic-gradient(red 0 0);
  position: absolute;
  inset: -1px;
  border: inherit;
  border-radius: inherit; 
  box-shadow: 0 0 6em rgba(0, 0, 0, 0.001);

  background: conic-gradient(
      from var(--alpha),
      #f94144,
      #f3722c,
      #f8961e,
      #f9844a,
      #f9c74f,
      #90be6d,
      #43aa8b,
      #4d908e,
      #277da1,
      #577590,
      #f94144
    )
    border-box;

  mask: var(--full) no-clip subtract, var(--full) padding-box;
  -webkit-mask: var(--full) no-clip subtract, var(--full) padding-box;

  pointer-events: none;

  animation: rotate 6s linear infinite;

  content: "";

  animation-play-state: inherit;
}

.glowing-border::after {
  filter: blur(1.2em);
}

/* When card is out of view completely remove the effect */
.glow-disabled::before,
.glow-disabled::after {
  display: none !important;
}

@keyframes rotate {
  to {
    --alpha: 1turn;
  }
}

/* Removes glow on mobile as it causes issues */ 
@media (max-width: 768px) {
  .glowing-border {
    position: relative;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 1em;
    }
  
  
  .glowing-border::before,
  .glowing-border::after {
    border: solid 3px transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask: linear-gradient(#fff 0 0) padding-box exclude, linear-gradient(#fff 0 0);

    animation: rotate 10s linear infinite;
  }

  .glowing-border::before,
  .glowing-border::after {
    display: none;
  }
}

/*** Carousel 3D Styles ***/
.carousel-banner {
    width: 100%;
    height: 700px;
    text-align: center;
    position: relative;
}
 
.carousel-slider {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 10%;
    left: calc(50% - 200px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: sliderRotate 55s linear infinite;
    animation-play-state: inherit;
}

@keyframes sliderRotate {
    from {
        transform: perspective(9000px) rotateX(-5deg) rotateY(0deg);
    }
    to {
        transform: perspective(9000px) rotateX(-5deg) rotateY(360deg);
    }
}

.carousel-slider-item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) 
    translateZ(700px);
}

@media (max-width: 1601px) {
    .carousel-slider-item {
        position: absolute;
        inset: 0 0 0 0;
        transform: 
        rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) 
        translateZ(600px);
    }
}

@media (max-width: 768px) {
    .carousel-slider {
        width: 300px;
    }
}